@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

/* Teal */ 

body {
    background-color: #cffafe;
}

#container {
    min-width: 320px;
    margin: auto;
    padding: 20px 0;
}

h1 {
    text-align: center;
    text-transform: uppercase;
    font-size: 1.5em;
}

#chat-container {
    display: flex;
    flex-direction: column;
    width: 300px;
    height: 80vh;
    margin: 10px auto;
    overflow: hidden;
}

#chat-cabecalho {
    display: flex;
    padding: 10px 5px;
    background-color: #0f766e;
    color: #fff;
}

#chat-cabecalho h2 {
    width: 100%;
    font-size: 1em;
    font-weight: 300;
}

#chat-cabecalho button {
    padding: 0 8px;
    border: none;
    background-color: inherit;
    color: inherit;
}

#chat-cabecalho button:active {
    color: #fde047;
}

/* Campo das mensagens */

#chat-mensagens {
    display: flex;
    flex-direction: column;
    gap: 10px;
    flex-grow: 2;
    padding: 10px;
    background-color: #f0fdfa;
    font-size: .8em;
    overflow-y: auto;
}

.enviadas {
    align-self: flex-end;
    padding: 5px;
    border-radius: 5px;
    background-color: #14b8a6;
    color: #fff;
}

.resposta-chatbot {
    align-self: flex-start;
    padding: 5px;
    border-radius: 5px;
    background-color: #2dd4bf;
    color: #fff;
}

#chat-envio {
    padding: 10px 5px;
    background-color: #0f766e;
    color: #fff;
}

#texto-envio {
    display: flex;
    width: 100%;
    padding: 1px 10px;
    border-radius: 30px;
    background-color: #f0fdfa;
}

#texto-envio input[type=text] {
    width: 100%;
    padding: 5px 0;
    border: none;
    background-color: inherit;
}

#texto-envio input[type=text]:focus {
    outline: none;
}

#texto-envio button {
    display: block;
    width: 40px;
    border: none;
    background-color: inherit;
    color: #134e4a;
    font-size: 1em;
}

#texto-envio button:active {
    color: #fde047;
}

footer p {
    font-size: .7em;
    text-align: center;
}